@charset "UTF-8";

        * { 
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        img{
            width: 100vw;
        }
        a{
          display: block;
          background-color: rgb(75, 5, 5);
          padding: 20px;
          color: white;
          text-align: center;
          text-decoration: none;
          font-weight: bolder;
        }
        a:hover{
            background-color: red;
        }